header {
    height: 150px;
    background-color: #7D7F7D;
    border-width: thick;
    border-style: double;
    border-color: #FFFFFF;
}
.shapka {
    width: 100%;
    height: 150px;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
}
.shapka p {
    font-family: Courier, monospace;
    font-weight: bold;
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
}
.shapka img {
    width: 140px;
    height: 140px;
}
.navigation {
    background-color: #7D7F7D;
    height: 75px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: thick;
    border-style: double;
    border-color: #FFFFFF;
}
nav{
    padding: 0px 30px 5px;
}
.navigation ul li {
    display: block;
    padding: 0px 50px 5px;
    font-size: 35px;
}
.navigation nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;

}
body {
    font-family: Courier, monospace;
    font-size: 20px;
    color: #FFFFFF;
    background-image: url(new.jpg);
    background-attachment: fixed;
    font-weight: bold;
}

.web1 {
    width: 960px;
    background-color: #7D7F7D;
    color: #FFFFFF;
    margin: 20px auto;
    padding: 0px 5px;
    border-width: thick;
    border-style: double;
    border-color: #FFFFFF;
    border-image: initial;
}
.web1 img{
    width: 100px;
    height: 100px;
}
.table {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7D7F7D;
    padding: 0px 5px 5px;
    border: thick double rgb(255, 255, 255);
}
.form {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #7D7F7D;
    padding: 0px 5px 5px;
    border-width: thick;
    border-style: double;
    border-color: #FFFFFF;
    border-image: initial;
}
footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #7D7F7D;
    padding: 0px 5px 5px;
    border-width: thick;
    border-style: double;
    border-color: #FFFFFF;
    border-image: initial;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
th, .nech td{
    color: white;
    background-color: rgb(189, 129, 129);
}
